#desktop
  #controls
    .actions.block
      .isometric.action.left.first.selectable.pixel.active{'data-action' => 'pixel'}
      .isometric.action.left.selectable.fill{'data-action' => 'fill'}
      .isometric.action.left.first.selectable.clearPixel{'data-action' => 'clearPixel'}
    .actions.block
      .isometric.action.left.first.selectable.move_vertical{'data-action' => 'move_vertical'}
      .isometric.action.left.selectable.move_horizontal{'data-action' => 'move_horizontal'}
      .isometric.action.left.first.selectable.flip_horizontal{'data-action' => 'flip_horizontal'}
      .isometric.action.left.selectable.flip_vertical{'data-action' => 'flip_vertical'}
      .isometric.action.left.first.selectable.copy{'data-action' => 'copy'}
      .isometric.action.left.selectable.paste{'data-action' => 'paste'}
      .isometric.action.left.first.selectable.rotate{'data-action' => 'rotate'}
    / <div class='active' id='clear'></div>

  #canvas.isometric
    %canvas{:width => "320", :height => "320", :onselectstart => "this.style.cursor='crosshair'; return false;"}
      %p
        Sorry, your browser doesn't support the <canvas> element.
      %p
        Please upgrade to
        %a{:href => "http://www.microsoft.com/IE9"} IE 9
        or use the latest
        %a{:href => "http://www.google.com/chrome"} Chrome
        or
        %a{:href => "http://www.mozilla.com/"} Firefox

  #colors
    - EGA_PALETTE.each_with_index do |color, i|
      .color{:'data-color' => color, :class => "#{"active" if color == "#000000"}"}
        .isometric{:style => "background-color: #{color}", :id => "color_#{i+1}"}
        
  #commands
    / <a class='disabled' id='upload'>Save</a>
    
    #animation
      .play_stop.active.isometric
      %div{:style => "overflow: hidden; height:90px"}
        .frames.isometric
          - MAX_FRAMES.times do |frame|
            .frame{:'data-frame' => frame, :href => "#", :class => (0 == frame ? "active" : "disabled")}
              %canvas{:height => "16", :width => "16"}
              %div= frame+1
        #add_frames
          .add_frame.isometric +
          .remove_frame.disabled.isometric -

#adv-right
  = haml :'shared/adsense', :locals => {:slot => "7948970014", :width => 160, :height => 600}