- content_for :head do
  %meta{:property => "og:title", :content => "Drawing #{params[:id]}"}
  %meta{:property => "og:type", :content => "drawbang:drawing"}
  %meta{:property => "og:url", :content => @drawing[:share_url]}
  %meta{:property => "og:image", :content => @drawing['url']}
  %meta{:property => "og:description", :content => "Do you like pixelart?"}
  %meta{:property => "fb:app_id", :content => FACEBOOK['app_id']}

#drawing
  %img{:src => @drawing['url']}
  - if @drawing['user']
    #user
      by
      %img.isometric.avatar{:width => 25, :src => @drawing['user']['image']}
      %span.name
        %a{:href => "/users/#{@drawing['user']['uid']}"}= @drawing['user']['first_name']
      %form{:id => "fork_drawing", :action => "/drawings/#{params[:id]}/fork", :method => "POST"}
      %a{:href => "#", :onclick => "_gaq.push(['_trackEvent', 'Drawings', 'Fork', '#{@drawing['url']}']); $('#fork_drawing').submit(); return false;"} Fork
      - if logged_in? && @drawing['user']['uid'] == @user['uid']
        %form{:id => "delete_drawing", :action => "/drawings/#{params[:id]}", :method => "POST"}
          %input{:type => "hidden", :name => "_method", :value => "delete"}
        %a{:href => "#", :onclick => "if (confirm('Sure?')) {_gaq.push(['_trackEvent', 'Drawings', 'Delete', '#{@drawing['url']}']); $('#delete_drawing').submit();} return false;"} Delete
    
  .share
    .left.tweet_button
      %a{:href => "http://twitter.com/share", :class => "twitter-share-button", :'data-url' => @drawing[:share_url], :'data-text' => "Check this drawing out!", :'data-count' => "horizontal", :'data-via' => "drawbang", :'data-related' => "drawbang"} Tweet
    .left.like_button
      %fb:like{:href => @drawing[:share_url], :send => "false", :layout => "button_count", :width => "110", :show_faces => "false", :font => ""}
    %div{:style => "clear: both"}

.fb-comments{:'data-href' => @drawing[:share_url], :'data-num-posts' => 2, :'data-width' => 666}