- content_for :head do
  %meta{:property => "og:title", :content => "Drawing #{params[:id]}"}
  %meta{:property => "og:type", :content => "website"}
  %meta{:property => "og:url", :content => @drawing[:share_url]}
  %meta{:property => "og:image", :content => @drawing['url']}
  %meta{:property => "og:site_name", :content => "Draw!"}
  %meta{:property => "fb:app_id", :content => FACEBOOK['app_id']}
  %meta{:property => "og:description", :content => "Check this drawing out!"}

#drawing
  %img{:src => @drawing['url']}
  - if @drawing['user']
    #user
      by
      %img.avatar{:width => 25, :src => @drawing['user']['image']}
      %span.name= @drawing['user']['first_name']
      - if logged_in? && @drawing['user']['uid'] == @user['uid']
        %form{:id => "delete_drawing", :action => "/drawings/#{params[:id]}", :method => "POST"}
          %input{:type => "hidden", :name => "_method", :value => "delete"}
        %a{:href => "#", :onclick => "if (confirm('Sure?')) {$('#delete_drawing').submit();} return false;"} Delete
    
  .share
    .left.tweet_button
      %a{:href => "http://twitter.com/share", :class => "twitter-share-button", 'data-url' => @drawing[:share_url], 'data-text' => "Check this drawing out!", 'data-count' => "horizontal", 'data-via' => "drawbang"} Tweet
    .left.like_button
      %fb:like{:href => @drawing[:share_url], :send => "false", :layout => "button_count", :width => "110", :show_faces => "false", :font => ""}

#disqus_thread
:javascript
  /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
  var disqus_shortname = 'draw-heroku'; // required: replace example with your forum shortname

  // The following are highly recommended additional parameters. Remove the slashes in front to use.
  var disqus_identifier = 'drawing_#{params[:id]}';
  var disqus_url = '#{@drawing[:share_url]}';

  /* * * DON'T EDIT BELOW THIS LINE * * */
  (function() {
    var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
    dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
  })();

%noscript
  Please enable JavaScript to view the
  %a{:href => "http://disqus.com/?ref_noscript"} comments powered by Disqus.