- content_for :head do
  %script{:src => is_production? ? 'https://github.com/potomak/jquery-pixel/raw/master/jquery.pixel.js' : '/jquery.pixel.js', :type => 'text/javascript'}
  %script{:src => '/init.js', :type => 'text/javascript'}

  %meta{:property => "og:title", :content => "Draw!"}
  %meta{:property => "og:type", :content => "website"}
  %meta{:property => "og:url", :content => "http://draw.heroku.com"}
  %meta{:property => "og:image", :content => "http://#{request.host_with_port}/images/draw.png"}
  %meta{:property => "og:site_name", :content => "Draw!"}
  %meta{:property => "fb:app_id", :content => FACEBOOK['app_id']}
  %meta{:property => "og:description", :content => "Let's draw now!"}

#fb-root
:javascript
  window.fbAsyncInit = function() {
    FB.init({appId: '#{FACEBOOK['app_id']}', status: true, cookie: true, xfbml: true});
  };

  (function() {
    var e = document.createElement('script'); e.async = true;
    e.src = document.location.protocol +
      '//connect.facebook.net/en_US/all.js';
    document.getElementById('fb-root').appendChild(e);
  }());

#desktop
  #controls
    #actions
      .action.pixel.active{ 'data-action' => 'pixel' }
      .action.fill{ 'data-action' => 'fill' }
    #colors
      - @colors.each do |color|
        .color{ 'data-color' => color, :class => "#{"active" if color == "#000000"}" }
          %div{ :style => "background-color: #{color}" }
    #clear

  #canvas
    %canvas{ :width => "320", :height => "320", :onSelectStart => "this.style.cursor='crosshair'; return false;" }

  %a#upload.disabled Save image

%h2 GALLERY
#images
  - @drawings.each do |drawing|
    = haml :thumb, :layout => false, :locals => drawing