!!!
%html{'xmlns:fb' => "http://www.facebook.com/2008/fbml"}
  %head
    %meta{'http-equiv' => 'Content-Type', :content => 'text/html;charset=utf-8'}
    %meta{:name => 'description', :content => 'Draw!'}
    %title= 'Draw!'
    
    %script{:src => 'http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js', :type => 'text/javascript'}

    %link{:href => '/style.css', :media => 'all', :rel => 'stylesheet', :type => 'text/css'}

    :javascript
      var currentPage = #{@current_page};
    
    %script{:type => "text/javascript", :src => "http://platform.twitter.com/widgets.js"}
    
    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-2935139-17']);
      _gaq.push(['_trackPageview']);
    
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
      
    = yield_content :head

  %body
    .wrapper
      - [:error, :notice].each do |level|
        %p.flash{:class => level}
          = flash[level]
      
      #auth
        - if logged_in?
          %h3
            Hi, 
            %img.avatar{:width => 25, :src => @user['user_info']['image']}
            ="#{@user['user_info']['first_name']}!"
          %a{:href => "/logout?origin=#{CGI.escape request.url}"}
            %img{:src => "/images/fb_logout_button.png"}
        - else
          %a{:href => "/auth/facebook?origin=#{CGI.escape request.url}"}
            %img{:src => "/images/fb_login_button.png"}
  
    #header
      %a{:href => "/"}
        %h1 DRAW!
      .share
        .left.tweet_button
          %a{:href => "http://twitter.com/share", :class => "twitter-share-button", 'data-url' => "http://draw.heroku.com", 'data-text' => "Have fun drawing!", 'data-count' => "horizontal", 'data-via' => "johnnyaboh"} Tweet
        .left.like_button
          %fb:like{:href => "http://draw.heroku.com", :send => "false", :layout => "button_count", :width => "110", :show_faces => "false", :font => ""}
    
    #container.wrapper
      = yield
    
    #footer
      %a{:href => "/about"} About
    
    #fb-root
    :javascript
      window.fbAsyncInit = function() {
        FB.init({appId: '#{FACEBOOK['app_id']}', status: true, cookie: true, xfbml: true});
      };

      (function() {
        var e = document.createElement('script'); e.async = true;
        e.src = document.location.protocol +
          '//connect.facebook.net/en_US/all.js';
        document.getElementById('fb-root').appendChild(e);
      }());