!!!
%html{'xmlns:fb' => "http://www.facebook.com/2008/fbml"}
  %head
    %meta{'http-equiv' => 'Content-Type', :content => 'text/html;charset=utf-8'}
    %meta{:name => 'description', :content => 'Draw 16 x 16 animated pictures. Draw! is a social flavored online pixel art editor.'}
    %meta{:name => 'apple-itunes-app', :content => 'app-id=578228937'}
    %title= 'Draw!'

    %link{:href => '//fonts.googleapis.com/css?family=Inconsolata', :rel => 'stylesheet', :type => 'text/css'}
    %link{:href => '/stylesheets/style.css', :media => 'all', :rel => 'stylesheet', :type => 'text/css'}
    
    %script{:src => '//ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js', :type => 'text/javascript'}
    = haml :'shared/application_js'

    = yield_content :head

  %body
    .container.black
      .content_wrapper
        #auth
          .left
            .share.block
              .left.tweet_button
                %a{:href => "http://twitter.com/share", :class => "twitter-share-button", :'data-url' => "http://drawbang.com", :'data-text' => "Have fun drawing!", :'data-count' => "horizontal", :'data-via' => "drawbang", :'data-related' => "drawbang"} Tweet
              .left.like_button
                %fb:like{:href => "http://drawbang.com", :send => "false", :layout => "button_count", :width => "110", :show_faces => "false", :font => ""}
              .left.plus_button
                .g-plusone{:'data-size' => "medium", :'data-href' => "http://drawbang.com"}
          .right
            - if logged_in?
              :javascript
                var user_uid = #{@current_user['uid']};
              = haml :'shared/user_header', :locals => {:origin => CGI.escape(request.url)}
            - else
              %a.login{:href => "/auth/facebook?origin=#{CGI.escape request.url}", :class => "popup", :'data-width' => 600, :'data-height' => 400}
                %img{:src => "/images/fb_login_button.png"}
    .wrapper
      #flash_wrapper
        = haml :'shared/flash'
  
    #requests.content_wrapper

    #header
      .content_wrapper
        .download_app
          %a{:href => "https://itunes.apple.com/us/app/drawbang/id578228937", :title => "Download Draw! on the App Store", :class => "download_app_badge"} Download Draw! on the App Store
        .sponsor
          %p Sponsored by
          %a{:href => "http://desall.com", :title => "Desall", :class => "desall"} Desall
          %a{:href => "http://redistogo.com", :title => "Redis To Go", :class => "redistogo"} Redis To Go
        %a{:href => "/" == request.path_info ? "/about" : "/", :title => "/" == request.path_info ? "Learn more about Draw!" : "Return to gallery"}
          %h1 DRAW!
          %h2 16x16 animated pixelart pictures

    #adv_top
      = haml :'shared/adsense', :locals => {:slot => "9403034170", :width => 728, :height => 90}

    #container.wrapper
      = yield

    #footer
    
    = haml :'shared/facebook'
    = haml :'shared/google_plus'
    = haml :'shared/twitter'
    = haml :'shared/analytics'