!!!
%html{'xmlns:fb' => "http://www.facebook.com/2008/fbml"}
  %head
    %meta{'http-equiv' => 'Content-Type', :content => 'text/html;charset=utf-8'}
    %meta{:name => 'description', :content => 'Draw 16 x 16 animated pictures. Draw! is a social flavored online pixel art editor.'}
    %title= 'Draw!'
    
    %script{:src => 'http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js', :type => 'text/javascript'}

    %link{:href => 'http://fonts.googleapis.com/css?family=Inconsolata', :rel => 'stylesheet', :type => 'text/css'}
    %link{:href => '/style.new.css', :media => 'all', :rel => 'stylesheet', :type => 'text/css'}
    
    %script{:type => "text/javascript", :src => "http://platform.twitter.com/widgets.js"}
    
    :javascript
      function popupCenter(url, width, height, name) {
        var left = (screen.width/2)-(width/2);
        var top = (screen.height/2)-(height/2);
        return window.open(url, name, "menubar=no,toolbar=no,status=no,width="+width+",height="+height+",toolbar=no,left="+left+",top="+top);
      }
      
      $(document).ready(function() {
        $("a.popup").click(function(e) {
          popupCenter($(this).attr("href"), $(this).attr("data-width"), $(this).attr("data-height"), "authPopup");
          e.stopPropagation();
          return false;
        });
      });
      
      var trying_to_save = false;
      
      function reload(user_header) {
        $("#auth").html(user_header);
        $("#flash_wrapper").html("");
        trying_to_save && performUpload();
      }
      
      function flash(html) {
        trying_to_save = false;
        $("#flash_wrapper").html(html);
      }
    
    = haml :'shared/flattr'

    = haml :'shared/analytics'
      
    = yield_content :head

  %body
    .wrapper
      #auth
        - if logged_in?
          :javascript
            var user_uid = #{@user['uid']};
          = haml :'shared/user_header', :locals => {:origin => CGI.escape(request.url)}
        - else
          .left
            %a{:href => "/auth/facebook?origin=#{CGI.escape request.url}", :class => "popup", :'data-width' => 600, :'data-height' => 400}
              %img{:src => "/images/fb_login_button.png"}
      
      #flash_wrapper
        = haml :'shared/flash'
  
    #header
      .wrapper
        .sponsor
          %p Sponsored by
          %a{:href => "http://redistogo.com", :title => "Redis To Go"} Redis To Go
        %a{:href => "/" == request.path_info ? "/about" : "/", :title => "/" == request.path_info ? "Learn more about Draw!" : "Return to gallery"}
          %h1 DRAW!
        .share
          .left.flattr_button
            %a.FlattrButton{:style => "display:none;", :rev => "flattr;button:compact;", :href => "http://draw.heroku.com/"}
            %noscript
              %a{:href => "http://flattr.com/thing/310196/Draw", :target => "_blank"}
                %img{:src => "http://api.flattr.com/button/flattr-badge-large.png", :alt => "Flattr this", :title => "Flattr this", :border => "0"}
          .left.tweet_button
            %a{:href => "http://twitter.com/share", :class => "twitter-share-button", :'data-url' => "http://drawbang.com", :'data-text' => "Have fun drawing!", :'data-count' => "horizontal", :'data-via' => "drawbang", :'data-related' => "drawbang"} Tweet
          .left.like_button
            %fb:like{:href => "http://drawbang.com", :send => "false", :layout => "button_count", :width => "110", :show_faces => "false", :font => ""}
          %div{:style => "clear: both"}
    
    #container.wrapper
      = yield
    
    #footer
    
    = haml :'shared/facebook'